{% extends 'base.html.twig' %}

{% block content %}
    <div>
        {% if articles is not empty %}
            {% for article in articles %}
                <a href="{{ path('article_item', {article: article.id}) }}">
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content|striptags }}</p>
                </a>
            {% endfor %}
        {% else %}
            <p>No articles yet</p>
        {% endif %}
    </div>
{% endblock %}
