<div>
    {% if articles is not empty %}
        {% for article in articles %}
            <div>
                <h1>
                    <a href="{{ path('article_item', {article: article.id}) }}">{{ article.title }}</a>
                </h1>

                <p>{{ article.content }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No articles yet</p>
    {% endif %}
</div>

<a href="{{ path('article_create') }}">New article</a>
